body {
  background: black;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  padding-top: 4rem;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
