body {
  background: black;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0 3rem;
}

header {
  transform: translateY(0rem);
  text-align: center;
  font-size: 1.5rem;
  animation: falldown 1s forwards;
  position: relative;
  z-index: 50;
}

button {
  background: transparent;
  color: white;
  font-size: 1.3rem;
  /* margin: 4rem 2rem; */
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
}

.btn-div {
  margin-top: 2.5rem;
}

button:hover {
  transform: scale(1.2);
}

canvas {
  pointer-events: none;
}

/* @keyframes falldown {
  100% {
    transform: translateY(7rem);
  }
} */
